.chatrooms-map{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

@media only screen  and (max-width: 720px) and (min-width: 450px){
    .chatrooms-map{
        justify-content: center;
        flex-wrap: wrap;
        overflow-y: scroll;
    }
}


@media only screen  and (min-width: 720px){
    .chatrooms-map{
        flex-wrap: wrap;
        overflow-y: scroll;
        justify-content: center;
    }
}